@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}
h1{
    font-size: 2.5em;
    font-weight: 700;
}
p{
    font-size: 1rem;
    margin: 0;
}
header{
    padding: 35px;
    text-align: center;  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger{
    height: 40px;
}
/* main */
main{
    margin: 25px 0;
}
.main-container{
    margin: 0 auto;
}
nav ul{
    display: none;
}
.main-image-container{
    height: 250px;
}
.main-image-container img{
    height: 250px;
}
.main-title-container{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 50px;
}
nav .button{
    display: none;
}
.button{
    background-color: #8b48bf;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 50px;
    display: inline-block;
}
main .button{
    margin-top: 25px;
}
.description{
    background-color: #8b48bf;
}
.description-main{
    padding: 40px 120px;
    background-color: #3cddf3;
    color: white;
    text-align: left;
}
.description-main h2{
    font-weight: 600;
    font-size: 2em;
    margin: 0;
}
.characteristics-main-container{
    padding: 25px 0px 25px 25px;
    text-align: left;   
    margin: 0 auto;
}
.characteristics-main-container div{
    margin: 50px 0;  
}
.characteristics-main-container h3{
    margin: 0;
    padding: 10px 0;  
    background-color: #ddc8ec;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 1rem;
    margin-bottom: 25px;
}
.characteristics-main-container h3::before{
    content: "01";
    color: white;
    background-color: #8b48bf;
    padding: 10px 20px;
    border-radius: 50px;
    margin-right: 15px;
}
.characteristics-main-container p{
   line-height: 25px;
   color: #b3b2b7;
}
.best{
    padding: 0px 40px;
    margin: 50px 0;
}
.best h2{
    margin-bottom: 100px;
    font-size: 2em;
}
.best-card-container h3{
    font-size: 1rem;
}
.best-card-container p{
    color: #b9b9c1;
}
.best-card-container div{
    background-color: #fafafa;
    padding: 30px 30px;
}
.best-card-container div{
    position: relative;
    margin-bottom: 40px;
}
.best-card-container img{
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translate(-50%);
}
.best-card-container a{
    display: inline-block;
    margin: 50px 25px;
}

.best-card-sanyo, .best-card-navarro{
    display: none;
}
.last{
    background-color: #3cddf3;
}
.last-main-container{
    margin: 0 auto;
    text-align: center;
    padding: 30px 50px;
    color: white;
}
.last-main-container a{
    background-color: #232c50;
}
.last-main-container h2{
    font-size: 2.8em;
}
footer{
    background-color: #1e1e26;
}
.footer-container{
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}
.email{
    height: 45px;
    width: 50%;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
}
.submit{
    border: none;
    background-color: #8b48bf;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 50px;
    display: inline-block;
}
.footer-lists-container-1 ul, .footer-lists-container-2 ul{
    padding: 0;
}
footer li{
    list-style-type: none;
}
footer a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 0px;
}
.submit-container{
    flex: 0 0 100%;
}
.footer-lists-container-1, .footer-lists-container-2{
    flex: 1;
}
.social-container{
    flex: 0 0 100%;
}
.social-container ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.copyright{
    flex: 0 0 100%;
    color: #85858d;
}

@media (min-width: 1000px) {
    .burger{
        display: none;
    }
    header{
        padding: 35px 120px;
    }
    nav{
        justify-content: space-around;
    }
    nav .button{
        display: flex;
        margin-top: 0px;
    }
    nav ul{
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: space-around;
        width: 500px;
        font-size: 0.9em;
    }
    main{
        padding: 35px 120px;
    }
    .main-container{
        display: flex;
        justify-content: space-around;
    }
    .main-image-container{
        height: 350px;

    }
    .main-image-container img{
        height: 350px;
    }
    .main-title-container{
        margin: 0;
        text-align: right;
        max-width: 427px;
        padding: 0;
    }
    .description-main{
        background-color: #8c48bf;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1212px;
        margin: 0 auto;
    }
    .description-main div{
        flex: 1;
        padding: 0 25px;
        max-width: 470px;
    }
    .characteristics{
        background-color: #fafafa;
    }
    .characteristics-main-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #fafafa;
        padding: 25px 120px;
        margin-bottom: 150px;
    }
    .characteristics-main-container div{
        flex: 1;
        padding: 0 75px;
    }
    .characteristics-main-container .characteristics-third{
        flex: 0 1 100%;
        max-width: 597px;
    }
    .characteristics-main-container h3{
        background-color: transparent;
    }
    .characteristics-main-container div{
        position: relative;
    }
    .characteristics-main-container h3::before{
        position: absolute;
        top: 0;
        left: 0;
    }
    .best-card-container{
        display: flex;
        justify-content: space-around;
        max-width: 1360px;
        margin: 0 auto;
    }
    .best-card-container div{
        max-width: 315.67px;
    }
    .best-card-navarro, .best-card-sanyo{
        display: flex;
        flex-direction: column;
    }
    .last{
        background-color: #8b48bf;
    }
    .last-main-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 120px;
        max-width: 1452px;
    }
    .last-main-container div:nth-of-type(1){
        text-align: left;
        max-width: 500px;
    }
    .last-main-container div:nth-of-type(2){
        min-width: 133.48px;
    }
    .last-main-container h2{
        margin: 0;
    }
    .last-main-container a{
        background-color: white;
        color: #8b48bf;
    }
    .footer-container{
       flex-wrap: wrap;
       padding: 25px 120px;
       max-width: 1452px;
       margin: 0 auto;
    }
    .social-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        flex: 1;
    }
    .social-container img{
        width: 108px;
    }
    .footer-lists-container-1{
        flex: 1;
        order: 2;
    }
    .footer-lists-container-2{
        flex: 1;
        order: 3;
    }
    .submit-container{
        flex: 1;
        order: 4;
        padding: 25px 0;
        min-width: 459px;
        
    }
    .email{
        width: 60%;
        
    }
    .copyright{
        text-align: right;
        flex: 0 0 100%;
        order: 5;
    }
    .copyright p{
        align-self: flex-end;
    }
    .social-container ul{
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
}

@media (min-width: 1440px) {
    nav{
        max-width: 1452px;
        margin: 0 auto;
    }
    .main-container{
        max-width: 1558px;
    }
    .best-card-container{
        display: flex;  
        max-width: 1623px;
    }

    .characteristics-main-container{
        max-width: 1194px;
    }
}